
.main{
display: flex;
flex-direction: column;
width: 26%;

height: 80vh;
font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
font-style: normal;
font-weight: 400;
border:.1px solid  rgba(218, 212, 212, 0.9) ;
color: rgba(0, 0, 0, 0.9);
font-size: 16px;
line-height: 24px;
box-shadow: 3px 3px 5px rgba(218, 212, 212, 0.9);
margin: 35px 5px 3px 15px;
background-color: rgb(239, 239, 239);
padding: 10px;

}
.name{
    color: white;
    padding: 8px;
    
}
.position{
color: white;
text-align: center;
padding: 6px;
    
}
.heading{

    color: white;
    background-color: rgb(41, 41, 110);
}
.exp{
    display: flex;
    gap: 5px;
    color:#646767;
}
.name{
    text-align: center;
    font-size: 2em;
    font-weight:700;
}




.cart{
    display: flex;
    gap: 16px;
    

    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
    line-height: 24px;
   
    
    
    padding: 10px;
    
    
    
   
}
.psdiv{
    margin: 10px 0px;
}
.exp-info{
    margin: 10px 0px;
}
.key{
    
padding: 1px 3px 1px 3px;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight: 600;
}

.left{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    width: 15%;
    
}
.resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}
.right{

    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    

width: 74%;

}


.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 4px;
    width: 62vw;
}
.value{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    font-weight: 600;
}
.div1{
    display: flex;
    gap: 10px;
    margin-top: 8px;


}


.btn{
    border: none;
    border-radius: 2px;
  background-color: rgb(41, 41, 110);
  color: white;
  padding: 2px 6px;
  font-weight: 400;
font-style:normal;  
font-family: Arial, Helvetica, sans-serif;
}

.number button{
    outline: blue;
    background-color: white;
    color: blue;
    border: 1px solid blue;
    border-radius: 4px;
    padding: 4px 9px 4px 9px;
}
.profile-section{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 100%;
    gap: 12px;

}
.profile-picture img{
    height: 70px;
    width: 70px;
    border-radius: 35px;
}
/* .call{
    border: 1px solid gray;
    border-radius: 2px;
    text-align: center;
color: gray;
padding: 4px 12px 4px 12px; 
} */
.varified{
    color: gray;

}
.call img{
    height: 11px;
    width: 11px;
    color: gray;
   
}


@media (max-width: 400px) {
    .cart {
        width: 90%;
        height: 58vh;
    }
    .left {
        width: 20%;
    }
    .right {
        width: 70%;
    }
}

/* Media query for small to medium screens */
@media (min-width: 401px) and (max-width: 770px) {
    .cart {
        width: 75%;
        height: 62vh;
    }
    .left {
        width: 20%;
    }
    .right {
        width: 75%;
    }
}

/* Media query for medium screens */
@media (min-width: 771px) and (max-width: 900px) {
    .cart {
        width: 48%;
        height: 60vh;
    }
    .left {
        width: 20%;
    }
    .right {
        width: 75%;
    }
}

/* Media query for large screens */
@media (min-width: 901px) and (max-width: 1300px) {
    .cart {
        width: 37%;
        height: 62vh;
    }
    .left {
        width: 13%;
    }
    .right {
        width: 75%;
    }
}